body{
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  background: #101010;
  height: 100vh;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: relative;
  overflow: hidden;
}

/* ----------------- PARTIE HEADER ---------------------*/

header {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0;
  text-transform: uppercase;
	background-color: #171717;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  color: #808080;
  z-index: 100;
  position: absolute;
  top: 0;
  width: 100%;
}

h1 {
  font-weight: 600;
  text-shadow: rgba(0, 0, 0, 0.24) 1px 5px 2px;
  font-variant: small-caps;
  font-style: italic;
  font-size: 45px;
}

/* ----------------- PARTIE CATEGORIES ---------------------*/

nav {
  position: absolute;
  z-index: 100;
  left: 50%;
  transform: translate(-50%, 55px);
}

#CATEGORIES {
  display: flex;
  justify-content: center;
  padding: 0;
}

#CATEGORIES {
  list-style: none;
}

ul li a {
  width: 100px;
  height: 40px;
  border: 1px solid #808080;
  padding-left: 10px;
  padding-right: 10px;
  justify-content: center;
  align-items: center;
  display: flex;
  margin: 20px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 50px;
  background: #171717;
  font-size: 1.2em;
  color: #808080;
  text-decoration: none;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transition: all .2s ease-in-out;
  text-shadow: rgba(0, 0, 0, 0.24) 1px 5px 2px;
  font-variant: small-caps;
}

/* ----------------- PARTIE MAIN ---------------------*/

main {
  display: flex;
  padding: 20px;
  justify-content: space-around;
  height: 700px;
  position: relative;
  margin: 0;
}

h2 {
  font-weight: 600;
  text-shadow: rgba(0, 0, 0, 0.24) 1px 5px 2px;
  font-variant: small-caps;
  font-style: italic;
  color: #808080;
  margin: 0;
}

p {
  margin-bottom: 10px;
  margin-top: 10px;
}

h3 {
  margin: 0;
}


#map {
  width: 100%;
  height: 100%;
}

/* ----------------- FILTER -------------------*/
input {
  outline: none;
}

#filter {
  background-color: #1717177c;
  width: 100px;
  height: 40px;
  border: 1px solid #808080;
  z-index: 100;
  position: absolute;
  top: 120px;
  margin: 10px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px 5px 0 0;
  font-size: 1.2em;
  color: #808080;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  text-shadow: rgba(0, 0, 0, 0.24) 1px 5px 2px;
  font-variant: small-caps;
  transition: all .2s ease-in-out;
  cursor: pointer;
}

#filter:hover {
  background-color: #171717;
}

#container-filter {
  z-index: 100;
  position: absolute;
  top: 159px;
  background-color: #1717177c;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border: 1px solid #808080;
  margin: 10px;
  border-radius: 0 5px 5px 5px;
  padding: 10px;
}

select {
  margin-right: 10px;
  width: 100px;
}

select, input {
  background-color: transparent;
  border: 1px solid #808080;
  border-radius: 50px;
  padding: 10px;
  color: #808080;
  transition: all .2s ease-in-out;
}

select:hover, select:focus, input:hover, input:focus {
  background-color: #171717;
}

#site-search {
  margin-bottom: 10px;
}

.filter-resp {
  background-color: #171717;
  border-radius: 50px;
  padding: 1px 10px;
  margin-bottom: 10px;
  width: max-content;
  display: inline-block;
  margin-right: 5px;
}

.filter-resp p {
  color: #808080;
  font-size: 12px;
}

.fa-times {
  color: #808080;
  transition: all .2s ease-in-out;
  cursor: pointer;
}

.fa-times:hover {
  color: #777575;
}

/* ----------------- POPUP -------------------*/

#popup {
  display: flex;
  flex-direction: column;
  color: #808080; 
}

.sub-container-popup {
  padding: 10px 10px 15px;
}

.sub-container-popup ul {
  padding-left: 30px;
}

.Image{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 150px;
  margin-bottom: 10px;
  border-radius: 3px 3px 0 0;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#description {
  display: flex;
  flex-direction: column;
}

#reserve {
  width: 100px;
  height: 40px;
  border: 1px solid #808080;
  padding-left: 10px;
  padding-right: 10px;
  justify-content: center;
  align-items: center;
  display: flex;
  border-radius: 50px;
  background: #171717;
  font-size: 1.2em;
  color: #808080;
  text-decoration: none;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transition: all .2s ease-in-out;
  text-shadow: rgba(0, 0, 0, 0.24) 1px 5px 2px;
  font-variant: small-caps;
  cursor: pointer;
}

#reserve:hover {
  background: #101010;
}

/* ----------------- RESPONSIVE -------------------*/

@media (max-width: 780px) {

  ul li a {
    font-size: 1em;
    width: 70px;
  }

}