body{
    font-family: 'Roboto', sans-serif;
}



/* ----------------- PARTIE HEADER ---------------------*/

header {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: lightgrey;
  padding: 15px;
  position: relative;
}

#logo {
  width: 100px;
}

/* ----------------- PARTIE CATEGORIES ---------------------*/
#CATEGORIES {
  list-style: none;
  display: flex;
  justify-content:center;
  padding: 0px;
  position: relative;
  bottom: 70px;
}

#CATEGORIES li{
  width: 120px;
  height: 60px;
  border: 2px solid grey;
  padding-left: 10px;
  padding-right: 10px;
  justify-content: center;
  align-items: center;
  display: flex;
  margin: 20px;
  background-color: white;
  font-size: 30px;
  font-weight: bold;
}

/* ----------------- PARTIE MAIN ---------------------*/

main{
  display: flex;
}

main *{
  margin: 20px;
}

/* ----------------- PARTIE IMAGE ---------------------*/

#Image{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 200px;
  border: 2px solid grey;
}
